@import '../mixins.scss';
@import '../variables.scss';

.completedChallengesContainer {
  margin-top: rem(56);
  padding-bottom: rem(14);

  display: flex;
  justify-content: space-between;

  border-bottom: solid 1px #D7D8DA;

  & span {
    font-weight: 500;

    &:first-child {
      font-size: rem(18);
    }

    &:last-child {
      font-size: rem(24);
    }
  }
}
