@import '../mixins.scss';
@import '../variables.scss';

.countdown{
  &__container {
    margin-top: rem(54);

    display: flex;
    align-items: center;
    font-family: Rajdhani;
    font-weight: 600;
    color: $title;

    & > div {
      flex: 1;

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      background-color: $white;
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      font-size: rem(120);

      & span {
        flex: 1;
        text-align: center;

        &:first-child {
          border-right: solid 1px $background;
        }

        &:last-child {
          border-left: solid 1px $background;
        }
      }
    }

    & > span {
      font-size: rem(104);
      margin: 0 rem(8);
    }
  }

  &__button {
    width: 100%;
    height: rem(80);
    margin-top: rem(32);

    border: none;
    border-radius: 5px;
    background-color: $blue;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(16);

    font-size: rem(20);
    font-weight: 600;
    color: $white;

    transition: background-color .2s;

    & svg path{
      fill: $white;
    }

    &:not(:disabled):hover {
      background-color: $blue-dark;
    }

    &:disabled {
      background-color: $white;
      color: $text;
      border-bottom: solid 4px $green;
      cursor: not-allowed;
    }

    &Active {
      background-color: $white;
      color: $text;
      gap: rem(4);
      transition: background-color .2s, color .2s;

      & svg path {
        fill: $text;
        transition: fill .2s;
      }

      &:not(:disabled):hover {
        background-color: $red;
        color: $white;     
        
        & svg path {
          fill: $white;
        }
      }
    }
  }
}